@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.big-text{
  font-weight:900;
  font-size:64px;
  color:purple;
  animation: big-title infinite 3s linear;

}

@keyframes big-title {
  0% {
    color: #000;
    transform: rotate(0) translate3D(-50%, -50%, 0);
  }
  30% {
    color: #431236;
  }
  100% {
    color: #000;
    transform: rotate(90deg) translate3D(-50%, -50%, 0);
  }
}
